.header {
  margin-bottom: 80px;
  position: relative;

  p.lead {
    max-width: 840px;
  }

  .background-text {
    position: absolute;
    top: 5%;
    right: -2%;
    width: 65%;
    bottom: 0%;
    color: rgba(0, 0, 0, 0.15);
    font-size: 24px;
    z-index: -3;
    text-align: right;
    opacity: 0.65;
    overflow: hidden;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(
        90deg,
        rgba(255, 255, 255, 1),
        rgba(255, 255, 255, 0)
      );
    }
  }
}

.spotlight {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.posts {
  display: grid;
  grid-template-columns: repeat(2, minmax(300px, 1fr));
  gap: 40px;
  margin-bottom: 40px;

  @media (min-width: 1500px) {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}
