.wrapper {
	height: 100%;
	width: 100%;
	text-align: center;
	min-height: 100vh;

	overflow-y: hidden;
	overflow-x: auto;
	position: relative;

	display: flex;
	flex-direction: row;
}

.wrapper section {
	min-width: 1920px;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
}

.wrapper section.fit {
	min-width: 1180px;
}

.wrapper section.padded {
	padding-inline: 240px;
	border-right: 1px dashed rgba(0, 0, 0, 0.15);
}

.wrapper::-webkit-scrollbar {
	height: 0px;
}
